---
import Layout from "../../layout/Layout.astro";
const { text } = Astro.params;
if (!/^[a-zA-Z]+$/.test(text)) {
  return Astro.redirect('/error');
}
---

<Layout title="Videoclub | Clientes">
	<div class="h-20"/>
	<h1>Clientes</h1>
  	<p>Este es el contenido de la página de Clientes</p>
    <p>{text}</p>
</Layout>