---
import Layout from "../../layout/Layout.astro";

---

<Layout route="programs" title="Cexpe | Programas">
	<div class="h-20"/>
	<h1>Programas</h1>
  	<p>Este es el contenido de la página de Programas</p>
</Layout>