---
import Layout from "../layout/Layout.astro";


---

<Layout route="" title="Cexpe | Error">
	<div class="h-20"/>
	<h1>Lo sentimos</h1>
  	<p>La página a la que desea acceder no es válida o no se aceptan los parámetros enviados</p>
</Layout>