---
import Layout from "../layout/Layout.astro";
---

<Layout route="services" title="Examen">
	<div class="h-20"/>
	<h1>Servicios</h1>
  	<p>Este es el contenido de la página de Servicios</p>
</Layout>
