---
interface Props {
	route: String
}

const { route } = Astro.props
---

<header
    class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 bg-white text-black font-bold text-2xl"
>
    <div class="flex flex-grow">
        <a href="/">
            Examen
        </a>
    </div>

    <!--Nav -->
    <div class="hidden lg:flex lg:flex-grow lg:items-center lg:justify-between" 
    id="menu">

        <nav class="lg:flex h-full ">
            <ul
            class="flex text-lg font-semibold gap-4" id="menu-items"
            >
                <li><a class={`${route === "index" ? 
                "text-red-700 hover:text-red-700 transition-all duration-200" : 
                "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/">Home</a></li>
                <li><a class={`${route === "services" ? 
                    "text-red-700 hover:text-red-700 transition-all duration-200" : 
                    "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/services">Servicios</a></li>
                <li><a class={`${route === "proyects" ? 
                    "text-red-700 hover:text-red-700 transition-all duration-200" : 
                    "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/proyects">Proyectos</a></li>
                <li><a class={`${route === "client" ? 
                    "text-red-700 hover:text-red-700 transition-all duration-200" : 
                    "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/client">Cliente</a></li>
                <li><a class={`${route === "blog" ? 
                    "text-red-700 hover:text-red-700 transition-all duration-200" : 
                    "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/blog">Blog</a></li>
                <li><a class={`${route === "contact" ? 
                    "text-red-700 hover:text-red-700 transition-all duration-200" : 
                    "text-blue-400 hover:text-red-700 transition-all duration-200"}`} href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <!-- <nav class="flex justify-end">
            <ul class="flex text-sm gap-4"  id="secondMenu-items">
                <li class="bg-blue-400 text-white hover:bg-blue-600 transition-all duration-300 py-2 px-4 rounded-full">
                    <a href="/auth/login" >Ingresar</a>
                </li>
                <li class="bg-blue-400 text-white hover:bg-blue-600 transition-all duration-300 py-2 px-4 rounded-full">
                    <button name="logout" id="logout" >Salir</button>
                </li>
            </ul>
        </nav> -->
    </div>

    <!-- <nav class="lg:hidden flex justify-end basis-0 z-40">
        <button id="close-btn" class="w-4 text-blue-500 hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" >
            <path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
            </svg>
        </button>

        <button id="open-btn" class="w-4 text-blue-500 lg:hidden ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
            </svg>
        </button>
    </nav>   -->
</header>


