---
import Layout from "../../layout/Layout.astro";
const { text } = Astro.params;
if (!/^[a-zA-Z]+$/.test(text)) {
  return Astro.redirect('/error');
}
---

<Layout route="advice" title="Cexpe | Asesoramiento">
	<div class="h-20"/>
	<h1>Asesoramiento</h1>
  	<p>Este es el contenido de la página de Asesoramiento</p>
	<p>{text}</p>
</Layout>