---
import Layout from "../../layout/Layout.astro";
---

<Layout route="advice" title="Cexpe | Asesoramiento">
	<div class="h-20"/>
	<h1>Asesoramiento</h1>
  	<p>Este es el contenido de la página de Asesoramiento</p>
</Layout>