---
import InputsForm from "../../components/InputsForm.astro";
import Layout from "../../layout/Layout.astro";
---

<Layout route="user" title="Empresa | Personas">
	<div class=" mx-auto max-w-screen-lg">
        <div class="h-20" />
        <InputsForm 
            formTitle="Crear nuevo usuario"
            username=""
            lastname=""
            address=""
            birthdate=""
            age={null}
            salary={null}
            status={null}
        />
    </div>

    <script>
        import axios from "axios";

        document.querySelector('#userForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const username = (document.querySelector('#username') as HTMLInputElement).value;
            const lastname = (document.querySelector('#lastname') as HTMLInputElement).value;
            const address = (document.querySelector('#address') as HTMLInputElement).value;
            const birthdate = (document.querySelector('#birthdate') as HTMLInputElement).value;
            const age = (document.querySelector('#age') as HTMLInputElement).value;
            const salary = (document.querySelector('#salary') as HTMLInputElement).value;
            const status = (document.querySelector('#status') as HTMLInputElement).value;
            
            try {
                const response = await axios.post('http://localhost:3000/persona', {
                    "cPerNombre": username,
                    "cPerApellido": lastname,
                    "cPerDireccion": address,
                    "cPerFecNac": birthdate,
                    "nPerEdad": age,
                    "nPerSueldo": salary,
                    "cPerEstado": status
                });
                console.log(response)
                if (response.status === 201) {
                    window.location.href = '/users';
                } else {
                    alert('Error al crear el usuario ');
                }
            } catch (error) {
                alert('Error al crear el usuario ');
            }
        });
    </script>
</Layout>
